---
layout: default
---

<div class="cv wrapper">
    <div class="section">
        <h2>Work expercience</h2>
        <div class="item">
            <div class="time">
                2023&#8212;present
            </div>
            <div class="company">
                Freelance designer
            </div>
            <div class="job-title">
                Brand &#38; digital design
            </div>
        </div>
        <div class="item">
            <div class="time">
                2022&#8212;2023
            </div>
            <div class="company">
                Darktrace
            </div>
            <div class="job-title">
                Senior UX/UI designer
            </div>
        </div>
        <div class="item">
            <div class="time">
                2018&#8212;2022
            </div>
            <div class="company">
                Cybersprint
            </div>
            <div class="job-title">
                Creative Director
            </div>
        </div>
        <div class="item">
            <div class="time">
                2012&#8212;2018
            </div>
            <div class="company">
                Freelance designer
            </div>
            <div class="job-title">
                Brand &#38; digital design
            </div>
        </div>
        <div class="item">
            <div class="time">
                2012
            </div>
            <div class="company">
                Vesper
            </div>
            <div class="job-title">
                Designer
            </div>
        </div>
        <div class="item">
            <div class="time">
                2009&#8212;2012
            </div>
            <div class="company">
                De Wijde Blik Communicatieadvies
            </div>
            <div class="job-title">
                Designer
            </div>
        </div>
        <div class="item">
            <div class="time">
                2006&#8212;2009
            </div>
            <div class="company">
                Noordelijke Ontwikkelingsmaatschappij
            </div>
            <div class="job-title">
                Information manager
            </div>
        </div>
        <div class="item">
            <div class="time">
                2006
            </div>
            <div class="company">
                Bureau Bartels
            </div>
            <div class="job-title">
                Junior Consultant
            </div>
        </div>
    </div>
    <div class="section">
        <h2>Education</h2>
        <div class="item">
            <div class="time">
                2009&#8212;2013
            </div>
            <div class="company">
                BA Graphic Design
            </div>
            <div class="job-title">
                Royal Academy of Art, The Hague
            </div>
        </div>
        <div class="item">
            <div class="time">
                2004&#8212;2006
            </div>
            <div class="company">
                MSc Economic Geography
            </div>
            <div class="job-title">
                Rijksuniversiteit Groningen, Groningen
            </div>
        </div>
        <div class="item">
            <div class="time">
                2000&#8212;2004
            </div>
            <div class="company">
                BSc Human Geography
            </div>
            <div class="job-title">
                Rijksuniversiteit Groningen, Groningen
            </div>
        </div>
    </div>
    <div class="section">
        <h2>Skills</h2>
        <div class="item">
            <div class="time">
                General
            </div>
            <div class="job-title">
                Brand design, UX/UI design, Graphic design, Datavisualization, Statistics, Typography, Copywriting, Illustration, Photography, Videography, 3D-animation
            </div>
        </div>
        <div class="item">
            <div class="time">
                Software
            </div>
            <div class="job-title">
                Photoshop, InDesign, Illustrator, XD, Premiere Pro, After Effects, Blender, Sketch, Figma
            </div>
        </div>
        <div class="item">
            <div class="time">
                Development
            </div>
            <div class="job-title">
                HTML, CSS/SCSS/LESS, Git version control, basic Javascript, basic Vue.js
            </div>
        </div>
        <div class="item">
            <div class="time">
                Languages
            </div>
            <div class="job-title">
                Fluent in Dutch, English and German
            </div>
        </div>
    </div>
    
    
</div>