<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

    {% if page.url == "/" %}
      <body class="home">
    {% elsif page.url == "/work/" %}
      <body class="work">
    {% elsif page.url == "/cv/" %}
      <body class="cv">
    {% elsif page.url == "/contact/" %}
      <body class="contact">
    {% else %}
      <body>
    {% endif %} 

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include cloudflare.html -%}
    <script src="{{ "/assets/js/main.js" | relative_url }}"></script>
  </body>

</html>
