---
layout: default
---

<div class="home">
    <div class="site-intro">
        <p>I'm David <img class="home-portrait" src="{{ 'assets/img/portret-bewerkt.jpg' | relative_url }}" alt="David Portrait">. I design brands, digital products & print media.</p>
        <p>I create thoughtful, effective design. Usually by diving in head first, reading, researching, sketching, making sense of complex data, mastering new tools if needed. And obsessing over details at the end. Check out some past projects <a class="inline-link" href="{{ "/work" | relative_url }}">here</a>.</p>
        <p>Currently, I work for a tech startup, designing the brand and product interface.</p>
    </div>    
</div>

